/* start of background hearts */
html,
body {
  height: 100%;
}

.massiveFirstPanelTextDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
}

.massiveFirstPanelText {
  color: Blue;
  font-size: 8em;
  font-family: "Apple Chancery";
  /* text-align: center; */
}

.bg_heart {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.heart {
  position: absolute;
  top: -50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -m-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.heart:before {
  position: absolute;
  top: -50%;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
}

.heart:after {
  position: absolute;
  top: 0;
  right: -50%;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
}

@-webkit-keyframes love {
  0% {
    top: 110%;
  }
}

@-moz-keyframes love {
  0% {
    top: 110%;
  }
}

@-ms-keyframes love {
  0% {
    top: 110%;
  }
}

@keyframes love {
  0% {
    top: 110%;
  }
}
/* end of background hearts */
/* start of carousel */
.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

.item:nth-child(1) {
  background: #74c390;
}

.item:nth-child(2) {
  background: #51bce8;
}

.item:nth-child(3) {
  background: #e46653;
}

.item:nth-child(4) {
  background: #74c390;
}

.item:nth-child(5) {
  background: #51bce8;
}

.imageVidCarousel {
  max-height: 100vh;
  max-width: 100vw;
  object-fit: cover;
  display: block;
  margin: auto;
}
/* end of carousel */
