/*start of password form*/

.overlay {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.prompt-wrap {
  display: none;
  background: transparent;
  position: absolute;
  width: 350px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
}

.prompt-box {
  display: none;
  padding: 50px;
  background: #f7f7f7;
  max-width: 350px;
  width: 100%;
  margin: 20px auto;
  color: 070707;
  position: fixed;
  z-index: 999999999;
  margin: 80px auto;
  border-radius: 3px;

  p {
    color: #070707;
  }

  button {
    width: 98%;
  }

  &.shake {
    animation: shake 0.5s linear;
  }

  .close:after {
    content: "";
    height: 20px;
    width: 20px;
    background: url(../img/x-thin.svg) top left no-repeat;
    background-size: 100%;
    position: absolute;
    right: 20px;
    top: 12px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: pointer;
  }
}

.code-error {
  color: red !important;
  display: none;

  &.is-error {
    display: block;
    animation: shake 0.5s linear;
  }
}

@-webkit-keyframes shake {
  8%,
  41% {
    transform: translateX(-10px);
  }
  25%,
  58% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  92% {
    transform: translateX(5px);
  }
  0%,
  100% {
    transform: translateX(0);
  }
}
/*end of password form*/

/* start of background hearts */
html,
body {
  height: 100%;
}

.massiveFirstPanelTextDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
}

.massiveFirstPanelText {
  color: Blue;
  font-size: 8em;
  font-family: "Apple Chancery";
  /* text-align: center; */
}

.bg_heart {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: None;
}

.heart {
  position: absolute;
  top: -50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -m-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.heart:before {
  position: absolute;
  top: -50%;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
}

.heart:after {
  position: absolute;
  top: 0;
  right: -50%;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
}

@-webkit-keyframes love {
  0% {
    top: 110%;
  }
}

@-moz-keyframes love {
  0% {
    top: 110%;
  }
}

@-ms-keyframes love {
  0% {
    top: 110%;
  }
}

@keyframes love {
  0% {
    top: 110%;
  }
}
/* end of background hearts */
/* start of carousel */
.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

.item:nth-child(1) {
  background: #abb0f5;
}

.item:nth-child(2) {
  background: #abb0f5;
}

.item:nth-child(3) {
  background: #abb0f5;
}

.item:nth-child(4) {
  background: #abb0f5;
}

.item:nth-child(5) {
  background: #abb0f5;
}

.item:nth-child(6) {
  background: #abb0f5;
}

.item:nth-child(7) {
  background: #abb0f5;
}

.item:nth-child(8) {
  background: #abb0f5;
}

.item:nth-child(9) {
  background: #abb0f5;
}

.item:nth-child(10) {
  background: #abb0f5;
}

.item:nth-child(11) {
  background: #abb0f5;
}

.item:nth-child(12) {
  background: #abb0f5;
}

.item:nth-child(13) {
  background: #abb0f5;
}

.item:nth-child(14) {
  background: #abb0f5;
}

.item:nth-child(15) {
  background: #abb0f5;
}

.imageVidCarousel {
  max-height: 100vh;
  max-width: 100vw;
  object-fit: cover;
  display: block;
  margin: auto;
}

#carousel {
  display: None;
}
/* end of carousel */

/* Start of text above waves. */
.thingsILove {
  color: white;
  font-size: 8em;
  font-family: "Apple Chancery";
}
/* End of text above waves. */

/* beginning of waves */

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.wavesOuterDiv {
  display: None;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

.header {
  position: block;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;
}

.inner-header {
  height: 80vh;
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
  /* padding-top: 10%; */
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 20h;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

/* end of waves */
/*beg of fancy button*/
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

.custom-btn {
  margin: 0px 20px 15px;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-9 {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 2;
}
.btn-9:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: all 0.3s ease;
}
.btn-9:hover {
  background: transparent;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}
.btn-9:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}
/*end of fancy button*/

/*start of random fact*/
.randomFact {
  font-size: 15px;
  display: None;
}

.wishlistOuterDiv {
  display: None;
  padding-top: 100px;
  padding-bottom: 100px;
}
/*end of random fact*/
/*start of wishlist*/
.btn {
  background: pink;
  margin: 20px;
}

.add-btn {
  background: lightblue;
  width: 40px;
  height: 40px;
}
.app-title {
  text-align: center;
  color: lightblue;
  font-size: 70px;
}
.container {
  border: 5px solid pink;
  border-radius: 25px;
}

/*end of wishlist*/
